*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    
}

.page-container{
    background-color: #4fb3d4;
    
    height: 3.4rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav-1 img{
    width: 170px;
}
nav{
    display: flex;
    justify-content: space-between;
    margin: 30px;
    background-color: white;
    overflow: hidden;
}
.nav-1 ul{
    display: flex;
    
}
.nav-2 ul{
    display: flex;
    margin: 10px;
    

}
.nav-2{
    margin-top: -5px;
}
.li-1{
    padding: 5px 0px ;
}

ul li{
    list-style: none;
    
}
.nav-2 ul li{
    margin: 0px 15px;
    font-size: large;
}
.nav-1 ul li p{
    margin: 8px;
    font-size: medium;
}

.btn{
    color: #183b56;
    background-color: transparent;
    border-color: #b9cde4;
    text-align: center;
    border: 1px solid ;
    cursor: pointer;
    font-size: 16px;
    padding: 10px 24px;
    font-weight: 600;
    border-radius: 2%;
    height: 2.7rem;
    /* line-height: 18px; */
}
.btn-1{
    background-color: rgb(16, 180, 251);
    text-align: center;
    border: 1px solid black;
    cursor: pointer;
    font-size: 16px;
    padding: 12px 24px;
    font-weight: 600;
    border-radius: 2%;
    
}


/* main-part */


.container{
    display: flex;
    justify-content: space-between;
    margin: 25px 45px;
    overflow: hidden;
    font-family: 'Inter', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    
}

.container-1{
    margin-top: 120px;
    line-height: 28px;
    width: 40vw;
}
.container-1 h1{
    margin-bottom: 25px;
    font-size: 40px;
}
.container-1 h3{
    color: #577592;
}

.container-2 img{
    width: 100%;
    height: 26rem;
}

.btn-2{
    background-color: rgb(16, 180, 251);
    text-align: center;
    border: 1px solid black;
    cursor: pointer;
    font-size: 16px;
    padding: 12px 24px;
    font-weight: 600;
    border-radius: 2%;
    width: 150px;
    margin-top: 40px;
}


.logos{
    gap: 20px;
}
.menu{
    display: none;
}
.para{
    /* display: flex;
    justify-content: center; */
    margin-top: 50px;
    color: #183b56;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 0;
    font-family: Averta PE,sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 23px;
    
}
.logos{
    margin: 30px;
    align-items: center;
    overflow: hidden;
    flex-wrap: wrap;
}
.logos img{
    
    width: 100px;
    margin: 32px ;
    height: 3rem;
}
.main{
    margin-top: 80px;
}
.main-1{
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #183b56;
    font-size: 16px;
}
.main-1 h1{
    margin-bottom: 20px;
}

.container-a{
    display: flex;
    flex-direction: column;
    margin: 60px;
}
.container-10{
    display: flex;
    justify-content: space-evenly;
    
}

.card{
    text-align: center;
    line-height: 30px;
    font-size: 20px;
    margin: 20px;
   
}
.card img{
    width: 40px;
}
.card h3{
    font-size: 24px;
    
    font-family: 'Inter', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";


}
.card p{
    color: #577592;
    font-size: 22px;
}
.card .btn{
    margin: 20px 0px;
}



.page{
    display: flex;
    justify-content: space-around;
    margin-left: 30px;
}
.page-1 img{
    width: 530px;
   
}
.page-2{
    margin-right: 120px;
    margin-left: 50px;
    line-height: 1.5;
}
.page-2 h4{
   
    font-size: 20px;
    color: #183b56 !important;
}
.page-2 h3{
    font-size: 34px;
    color: black !important;
    
}
.page-2 .ppp{
    font-size: 22px;
    text-align: left;
    color: #577592;
}
.pp{
    color: black;
    font-size: 16px;
    font-family: 'Inter', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

}
.page-2 img{
    max-height: 30px;
    margin: 20px 0;
}
.profile{
    display: flex;
    align-items: center;
    padding: 10px 0px;
}
.profile-1 img{
    max-height: 50px;
}
.profile-1 h5{
    color: #577592;
}
.profile-10{
    margin-left: 10px;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.page-3{
    margin-top: 50px;
    margin-left: 5px;
    font-family: 'Inter', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

    
}
.profile-5 {
    padding-left: 10px;

}



.con{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.con p{
    font-size: 40px;
    color: #183b56;
    margin-bottom: 15px;
    margin-top: 80px;
    font-family: 'Inter', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}
.btn-5{
    color: white;
    border: white;
    margin-top: 30px;

}

.con-1{
    background-color: white;
    height: 440px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Inter', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    line-height: 2.5;
    margin-top: 30px;
    font-size: 20px;
    

}
.con-1 h3{
    font-size: 2rem;
}
.con-1 p{
    font-size: 1rem;
}


.page-3{
    padding-top: 40px;
    height: 600px;
    background-color:#183b56;
    box-sizing: border-box;
    margin: 0px;
    margin-top: 30px;
    font-family: 'Inter', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.page-10{
    /* background-color: aqua; */
    justify-content: space-between;
    width: 500px;
}

.page-10 h3 {
    color: white;
}
.page-10 h4{
    color: aliceblue !important;
    margin-top: 30px;
}
.page-11 img{
 width: 600px; 
 padding-right: 40px; 
 /* background-color: aqua;  */
}

.pppp{
    color: #b9cde4;
}
.page-21{
    margin-top: 80px;
}

.panel{
    display: flex;
}

.panel-1 ul li{
    text-decoration: dotted;
    color: #b9cde4;
    margin-top: 10px;
    margin-right: 15px;
}

.buttons{
    margin-top: 50px;
    display: flex;
    justify-content: start;
    align-items: center;
}
.btn-9{
    color: white;
}
.btn-10{
    color: #b9cde4;
}
.buttons h4{
    margin: 0px 20px;
    color: white !important;
}


.div{
    display: flex;
    justify-content: flex-start;
    padding-left: 50px;
    padding-top: 50px;
    padding-bottom: 100px;
    background-color:#EBF2FA;

}

.im{
    width: 200px;
    height: 30px;
    margin-right: 80px;
    padding-right: 70px;
}

.products{
    margin-right: 130px;
    
}
.products h4{
    font-size: 20px;
    margin-bottom: 20px;
}
.products p{
    margin-top: 10px;
    font-size: 18px;
    color:#577592;
}


.footer{
    display: flex;
    justify-content: space-around;
    background-color:#B9CDE4;
}
.footer-1{
    display: flex;
    margin-top: 20px;
    justify-content: start;
    
    
}
.footer-1 p{
    margin: 20px;
    font-family: 'Inter', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

}
.footer-2{
    margin-left: 50px;
}
.footer-2 img{
    color: #183b56;
    width: 20px;
    margin-top: 40px;
    margin-left: 20px;

}